* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #ACC9E7;
    --secondary-color: #283747;
    --tertiary-color: #ECF0F1;
}
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    border: 3px solid var(--secondary-color);
}
header h1 {
    font-weight: bold;
    font-size: 50px;
    color: var(--secondary-color);
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--primary-color);
    padding: 10px;
}
.container {
    border: 2px solid black;
    width: 100%;
}
.search-bar {
    border: 2px solid black;
}
.row {
    border: 2px solid black;
    width: 100%;
}
#results-box {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}
#saved-items {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}
footer {
    background: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    padding: 40px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h2 {
    color: var(--secondary-color);
    font-size: 20px;
    margin: 0;
    text-align: right;
}