* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #ACC9E7;
    --secondary-color: #283747;
    --tertiary-color: #ECF0F1;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--primary-color);
}
.box-mult {
    margin: 10px 5px;
    padding: 10px 5px;
    margin: 10px;
}
.results-box {
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}
.saved-items {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}
.search-bar {
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}
.row {
    border: 2px solid black;
}
footer {
    background: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    padding: 40px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h2 {
    color: var(--secondary-color);
    font-size: 20px;
    margin: 0;
    text-align: right;