* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";

:root {
    --primary-color: hsl(217, 71%, 53%)	;
    --secondary-color: hsl(0, 0%, 100%)	;
    --tertiary-color: hsl(204, 86%, 53%);
/* 
Black color: hsl(0, 0%, 4%)	
*/
}
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    border: 3px solid var(--secondary-color);
}
header h1 {
    font-weight: bold;
    font-size: 50px;
    color: var(--secondary-color);
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--primary-color);
    padding: 10px;
}
.container {
    width: 100%;
}
.search-bar {
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    width: 400px;
}

.date-container {
    text-align: center;
}

#btnHolder {
    text-align: center;
}
#dropDownHldr {
    text-align: center;
}

.row {
    border: 2px solid var(--primary-color);
    width: 100%;
}
#results-box {
   
    margin: 5px;
    padding: 5px;
}
#saved-items {
  
    margin: 5px;
    padding: 5px;
}
footer {
    background: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    padding: 40px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h2 {
    color: var(--secondary-color);
    font-size: 20px;
    margin: 0;
    text-align: right;
}
/* flex so that all search options spread evenly across nav */
nav {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 30px 0;
}

/* change color for date picker to be able to see it */
.ui-datepicker {
    background-color: black;
    color: white;
}
#saved-events {
    border: 2px solid var(--primary-color);
    margin-bottom: 1.5rem;
    
}
#subtitle {
    text-align: center;
}

.token {
    width: 101%;
    color: black;
    font-size: 11px;
    text-decoration: none;
    background: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}

.event-image {
    height: 72px;
    border-radius: 3px;
}

.token-button {
    height: 72px;
    width: 128px;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    font-weight: bold;
    border: none;
    border-radius: 3px;
}
.error {
    background-color: rgb(214, 47, 47);
    
}

/*****************/


/* Media Queries */


/*****************/

@media screen and (max-width: 980px) {
   * {
       width: 100%;
       align-items: center;
   } 
    #header-bar {
        
        width: 500px;
    }
    #mobile-body {
        text-align: center;
        width: 100%;
    /*margin-left: 30px;*/
    }
    .columns {
        margin-left: 30px;
    }
    #mobile-text {
        text-align:center;
    }

    .token {
        font-size: 11px;
    }
    
    .event-image {
        height: 54px;
        width: 96px;
    }
    
    .token-button {
        font-size: 11px;
        height: 54px;
        width: 96px;
    }
}
@media screen and (max-width: 780px) {
    #header-bar {
        
        width: 800px;
    }
    #mobile-body {
        text-align: center;
        width: 100%;
    /*margin-left: 30px;*/
    }
}
@media screen and (max-width: 400px) {
    #header-bar {
        
        width: 425px;
    }
    #mobile-body {
        text-align: center;
        width: 100%;
    /*margin-left: 30px;*/
    }
    .columns {
        margin-left: 30px;
    }
    #mobile-text {
        text-align:center;
        margin-left: 23px;;
    }
.search-bar {
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.hero-body {
    margin-right: 40px;
}
.token {
    font-size: 9px;
}
.event-image {
    height: 36px;
    width: 64px;
    border-radius: 3px;
}
.token-button {
    font-size: 9px;
    height: 36px;
    width: 64px;
}
.class-footer {
    width: 425px;
    text-align: center;
}
}